@mixin input-c {
    background-color: $azure;
    border: none;
    color: $white;
    border-radius: 0.3rem;
    width: 15rem;
    height: 2.5rem;
}

@mixin hovering {
    background-color:rgb(130, 207, 252);
    border: none;
    transition: 0.3s;
}